.container-fluid{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    flex: 1 0 auto;
}
.home-content{
    width: 100%;
    max-width: 1980px;
}
.about,.more{
    display: flex;
    flex-direction: row;
    height: 60vh;
    justify-content: space-between;
    overflow: hidden;
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.right-bg,.left-bg{
    width: 100%;
}
h3{
    color: var(--color-primary);
    font-weight: bold;
}
span{
    font-weight: bold;
    color: var(--color-primary);
}
.cards{
    display: flex;
    width: 100%;
    height: 20rem;   
    gap: 2rem;
    border-radius: 2rem;
}
.cards-right,.cards-left{
    width: 100%;
    gap: 2rem;
    height: 20rem;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 780px){
    .about{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        flex-direction: column-reverse;
    }
    .more{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        flex-direction: column;
    }
    .right-bg,.left-bg{
        width: 15rem;
    }
    .left,.right{
        width: 100%;
    }
}