.container-fluid{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    flex: 1 0 auto;
}
.home-content{
    width: 100%;
    max-width: 1980px;
}
.about,.more{
    display: flex;
    flex-direction: row;
    height: 80vh;
}
.more{
    background-color: var(--color-primary);
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.right-bg,.left-bg{
    width: 20rem;
}
h3{
    color: var(--color-primary);
    font-weight: bold;
}
span{
    font-weight: bold;
    color: var(--color-primary);
}
@media (max-width: 780px){
    .about{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        flex-direction: column-reverse;
    }
    .more{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        flex-direction: column;
    }
    .right-bg,.left-bg{
        width: 15rem;
    }
}