.container-fluid{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 3.5rem;
    flex: 1 0 auto;
}
.home-content{
    width: 100%;
    max-width: 1980px;
}
.about,.more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    height: auto;
    padding: 0 2rem 0 2rem !important;
}
.cards{
    padding: 0 2rem 0 2rem !important;
}
.left,.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100% !important;
    width: 50%;
}
.right-bg,.left-bg{
    width: 100%;
    max-height: 70vh;
}
h3{
    color: var(--color-primary);
    font-weight: bold;
}
span{
    font-weight: bold;
    color: var(--color-primary);
}
.cards{
    display: flex;
    width: 100%;
    gap: 2rem;
    border-radius: 2rem;
    height: auto;
}
app-custom-card{
    gap: 2rem;
    display: flex;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.team{
    background-color: var(--color-third);
    padding: 1.5rem 2rem 1.5rem 2rem !important;

    h3{
        margin-bottom: 1rem;
    }
}
.teams{
    justify-content: space-between;
}

@media (max-width: 1000px){
    .cards{
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        gap: 0.5rem;
    }
    app-custom-card{
        width: 49%;
    }
}
@media (max-width: 780px){
    .about{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        width: 100%;
        flex-direction: column-reverse;
    }
    .more{
        padding-top: 1rem;
        height: auto;
        gap: 1.5rem;
        flex-direction: column;
    }
    .right-bg,.left-bg{
        width: 100%;
    }
    .left,.right{
        width: 100%;
        padding: 0;
        h3{
            text-align: center;
        }
    }
    .buttons{
        width: 100%;
        justify-content: center;

        app-custom-button{
            width: 100%;
        }
    }

}
@media (max-width:560px){
    app-custom-card{
        width: 100%;
    }
}
@media (max-width:425px){
    .buttons{
        flex-direction: column;
    }
    .bt-more{
        border: 1px solid red;
        width: 100%;
    }
    .cards{
        flex-direction: column;
    }
    .left{
        h3{
            text-align: center;
        }
    }
}