.navbar{
    width: 100%;
    position: fixed;
    background-color: var(--color-quaternary) !important;
    opacity: 100% !important;
    z-index: 2;
    justify-content: center;
    box-shadow: 0 0 0.2rem #1e1e1e52;
    transition: opacity .3s ease, transform .3s ease;
}
.hidden {
    display: none;
    pointer-events: none;
    transform: translateY(-20px);
}
.container-fluid{
    max-width: 1980px;
    margin: auto 2rem;
    padding: 0;
}
.dropdown-toggle::after {
  display: none !important;
}

a{
    font-weight: 500;
    cursor: pointer;
}

@media(max-width:768px){
    .itens{
        flex-direction: column;
        max-width: 8rem;
    }
}