.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-right: 2em;
  animation: slide 10s infinite linear;
}

.carousel::-webkit-scrollbar{
  display: none;
}

img{
  height: 4em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}