.card-container{ 
    padding: 1rem;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #fefefe;
    box-shadow: 0 0 0.1rem #1e1e1e;
    cursor: pointer;
}
.card-container:hover{
    border: none;
    box-shadow: 0 0 0.2rem #c73c3c;
}
p{
    text-align: justify;
}