<footer class="d-flex py-3" style="height: auto;background-color: var(--color-third);">
    <div class="left d-flex pt-2 flex-column align-items-center">
        <img src="../logo-branco.png" height="24px" alt="">
        <h3 class="fw-bold fs-6" style="color: white;">Antonio Neres</h3>
        <p style="color:var(--color-quaternary);opacity: 80%;" class="w-100">Foco, Determinação e Fé</p>
    </div>
    <div class="right d-flex">
        <h3 class="fs-6" style="color:var(--color-quaternary);opacity: 80%;">Siga nossas redes sociais:</h3>
        <div class="d-flex gap-3 pb-3">
            <img class="facebook" src="assets/icons/youtube.svg" (click)="robby()" alt="facebook">
            <img class="instagram" src="assets/icons/instagram.svg" (click)="lucas()" alt="instagram">
            <img class="x" src="assets/icons/facebook.svg" (click)="theus()" alt="x">
        </div>
    </div>
</footer>